@import url('./animations.css');

@font-face {
  font-family: 'Varela';
  src: url('../fonts/Varela.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica.ttf') format('truetype');
}

/* 
.color1 {color: #140f07;}
.color2 {color: #172b35;}
.color3 {color: #306177;}
.color4 {color: #4e9cc1;}
.color5 {color: #6de1fd;}
*/

body {
  font-family: 'Geologica', sans-serif;  
  color: #172b35;
}

.portada{
  background-color: #172b35;
  color: #6de1fd;
}

.text-c1{
  color: #6de1fd;
}

.text-c2{
  color: #4e9cc1;
}

.bg-c1{
  background-color: #172b35;
}


.bg-c2{
  background-color: #6de1fd;
}

.bg-c3{
  background-color: #306177;
}

.border-c1{
  background-color: #4e9cc1;
}

.ul-nonestyle {
  list-style: none;
}

.img-small{
  height: 200px;
  width: auto; 
  max-width: 100%; 
}

.border-dotted-custom {
  border-style: dotted !important;
}

.default-space{
  padding-top: 100px;
}

.last-section{
  padding-bottom: 100px;
}

.link:hover{
  color: white !important;
}